$primary: black;
$secondary: white;
$tertiary: red;

.svg--p {
  color: $primary;
  fill: $secondary;
  background: $tertiary;
}

.svg--s {
  color: $secondary;
  fill: $tertiary;
  background: $primary;
}

.svg--t {
  color: $tertiary;
  fill: $primary;
  background: $secondary;
}

// STUFF JUST TO SET UP THE EXAMPLE
* {
  padding: 0;
  margin: 0;
}
body {
  text-align: center;
  font-family: 'Manjari', sans-serif;
}
a,
a:hover,
a:focus {
    color: $tertiary;
}
svg {
  width: 100px;
  display: inline-block;
}
h1 {
  font-weight: normal;
}
div {
  padding: 1em;
  text-align: center;
}