/* STUFF JUST TO SET UP THE EXAMPLE */
* {
    padding: 0;
    margin: 0;
}
body {
    padding-top: 2em;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
a,
a:hover,
a:focus {
    color: var(--tertiary);
    line-height: 2;
}
svg {
    width: 90%;
    max-width: 400px;
}
h1 {
    font-weight: normal;
    padding-bottom: 1em;
}
div {
    padding: 1em;
    text-align: center;
}
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}